@import "tailwindcss";

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #fff, #fff);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #fff, #fff);
}

::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(90deg, #fff, #fff);
}

* {
    scrollbar-width: none;
    scrollbar-color: #fff #fff;
}

.bg-blue-600 {
    background-color: oklch(54.6% 0.245 262.881);
}
